<form [formGroup]="qtService.detailForm">



	<div  class="horizontalsplit" style="margin-top:1%;">
		<div>
			<div id="mastertable">

				<p-dialog width=500 class="voorraad" [id]="qtService.voorraad_id" [visible]="qtService.bVoorraad" showEffect="fade" [closable]="false"
					[class.notcounted]="!qtService.bCounted" (mouseover)="qtService.showtooltip($event)" [class.naleveren]="qtService.naleveren">


					<p-dataTable [value]="qtService.rowsvrrdmatrix" [editable]="true" paginator="true" [rows]="10" [responsive]="true" >
						<p-header> {{qtService.voorraadtitle}}</p-header>

						<p-column *ngFor="let col of qtService.colsmatrix let i=index" (Edit)="qtService.test()" [field]="qtService.colsmatrix[i]"
							[header]="qtService.colsmatrix[i]" [style]="qtService.colstyles_detail[i]"></p-column>



					</p-dataTable>


					<footer>
						<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
							<button type="button" pButton style="float:left" pButton icon="fa-min" (click)="qtService.toggle_showvoorraad()" label="Sluit"></button>
<button type="button" pButton style="float:right" [disabled]="qtService.disable_VrrdFris" style="margin: auto;" pButton icon="fa-min" (click)="qtService.getvoorraad()" label="Fris"></button>
</div>
</footer>
</p-dialog>


	<p-dataTable class="datatable col-sm-2" [value]="qtService.rowsvalues" (onRowClick)="qtService.onRowClick($event)" selectionMode="single"
		(onRowDblclick)="qtService.deleteItemDialogue($event)" paginator="true" [rows]="6" [responsive]="true" emptyMessage="" [style]="qtService.iteminputstyle">

		<p-header id="iteminput">
			<span (mouseover)="qtService.nwArtikelMsg()" (mouseleave)="qtService.CloseBtnMsg()">
           <button type="button"   class="bluebutton" [disabled]="qtService.disable_nwArtikel" style="float:left" (click)="qtService.toggleArtikelGallery()" >fotoos
        </button>
        <button type="button" class="bluebutton" [disabled]="qtService.disable_nwArtikel" style="float:right" (click)="qtService.ClearNwArtikel()" >nieuw artikel
        </button>
<div>
	<p-autoComplete [class.notcounted]="!qtService.bCounted" [suggestions]="qtService.arts" (completeMethod)="qtService.filter($event)"
		[minLength]="0" [dropdown]="true" (onDropdownClick)="qtService.filter($event)" placeholder="type hier volgend artikel" (onSelect)="qtService.art_add($event)"
		formControlName="nwartikel" (mouseover)="qtService.showtooltip($event)" id="nieuwartikel" (mouseleave)="qtService.hidetooltip(qqw)">
	</p-autoComplete>
</div>
</span>
</p-header>
<p-column>
	<template pTemplate type="header">

	</template>
	<template let-artdata="rowData" let-index="rowIndex" pTemplate type="body">
		<span [style.color]="artdata.icon_color" class="{{qtService.iconRowHeader[index]}}"></span>
	</template>
</p-column>


<p-column *ngFor="let col of qtService.colssummy let i=index" id="artnr" (keyup)="test(data)" [style]="qtService.colstyles[i+1]"
	[field]="col.name" [header]="qtService.colssummy[i].header" [footer]="qtService.totals[i]" class="dtcolm"></p-column>

tekst 3
<!--<footer><div class="ui-helper-clearfix" style="width:100%"></div></footer>-->

</p-dataTable>
</div >

<div #detailtable>
	<!--<div class="ContentSideSections Implementation">-->
	<p-dataTable #detailtable  class="datatable col-sm-6" [class.summary]="qtService.bSummy" (onEdit)="qtService.setmatrixrows()" [value]="qtService.rowsmatrix"
		[editable]="!qtService.bSummy" paginator="true" [rows]="10" [responsive]="true" (click)="qtService.onEdit($event)" emptyMessage=""
		(onEditInit)="qtService.startCellEdit($event)" (wheel)="qtService.addOne($event)" >
		<p-header>{{qtService.matrixtitle}}</p-header>

		<p-column *ngFor="let col of qtService.colsmatrix let i=index" [field]="qtService.colsmatrix[i]" [class.dtcolm]="qtService.bLoggedIn"
			[header]="qtService.colsmatrix[i]" [editable]="qtService.col_editable[i]" (mouseover)="qtService.tooltipvoorraad(this)"
			[style]="qtService.colstyles_detail[i]">
			</p-column>



		<p-footer>
			<div class="ui-helper-clearfix" style="width:100%">
<button type="button" class="bluebutton" [disabled]="qtService.bDetailEmpty" style="float:left" (click)="qtService.toggle_editmode()" ><span id="overzicht" (mouseover)="qtService.showtooltip($event)">{{qtService.button_ovt_label}}</span></button>
<button type="button" class="bluebutton" [disabled]="!qtService.bVoorraadExists" style="float:right" (click)="qtService.toggle_showvoorraad()" ><span id="overzicht" (mouseover)="qtService.showtooltip($event)" >{{qtService.button_voorraad_label}}</span></button>

</div>
</p-footer>
<h1>tekst12</h1>
</p-dataTable>
</div>


</div>

</div>
</form>